* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    height: auto;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 50px 30px;
    border-radius: 20px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 45px;
    height: auto;
    margin-left: 5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    overflow: hidden;
}

input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding: 10px;
    font-weight: 14px;
}

.submitTask {
    border: none;
    outline: none;
    height: 100%;
    width: 150px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    color: #ffffff;
    background: linear-gradient(75deg, #153677, #4e085f);
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.submitTask:hover {
    background: linear-gradient(5deg, #4e085f, #153677);

}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 5px;
    top: 10px;

}

ul li.checked{
    color:  #b4b4b4;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(/images/checked.png);
}



ul li span {
    font-size: 18px;
    position: absolute;
    right: 0;
    background-color: orange;
    padding: 2px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    align-items: center;
    text-align: center;
    color: rgb(255, 247, 236);
    font-weight: bold;
}




/* ALert */

